*{
    margin: 0;
    padding: 0;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.clear::after{
    content: "";
    clear: both;
    display: block;
}
.left{
    float: left;
}
.right{
    float: right;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
.mid-content{
    max-width: 1325px;
    margin: auto;
}

/* Start Css */
body,h1,h2,h3,h4,h5,h6,p,a,span,i{
    font-family: 'Nunito', sans-serif;
}
.header-section{
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 6px;
    border-bottom: 1px solid #ddd; 
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}
.logo{
    width: 10%;
}
.logo img{
    text-align: left;
    width: 115px;
}

.header-menu{
    width: 45%;
    line-height: 62px;
}
.primary-menu{
    text-align: center;
    margin-left: -30px;
}
.primary-menu ul{
    display: inline-block
}
.primary-menu ul li{
    display: inline-block
}
.primary-menu ul li a{
    margin-right: 20px;
    color: #3f4754;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.375rem;
    
}
.primary-menu ul li a:hover{}
.header-button{
    width: 20%;
    line-height: 62px;
}


.fa, .fas {
    color: #3f4754;
    font-weight: 600;
    font-size: .8rem;
}
.primary-menu2{
    text-align: right;
}
.primary-menu2 ul{
    display: inline-block;
}
.primary-menu2 ul li{
    display: inline-block;
}


/* Dropdown */
.primary-menu ul li{
    position: relative;

}
.primary-menu ul li ul{
    position: absolute;
    left: -30px;
    top: 90%;
    width: 200px;
    background-color: #fff;
    border: 1px solid rgba(221, 221, 221, .3);
    border-radius: 5px;
    visibility: hidden;
    
}
.primary-menu ul li:hover ul{
    visibility: visible;
    cursor: pointer;
    
}
.primary-menu ul li ul li:hover{
    color: #fd7c0a;
}
.primary-menu ul li a:hover{
    color: #fd7c0a;
}
.primary-menu ul li ul li{
    display: block;
    border-bottom: 1px solid rgba(221, 221, 221, .5);
    width: 170px;
    margin-left: 17px;
    
}
.primary-menu ul li ul li:last-child{
    border-bottom: none;
}
.primary-menu ul li ul li a{
    margin-left: -100px;
}

.primary-menu2 ul li{
position: relative;
margin-left: 40px;
font-size: 17px;
}
.primary-menu2 ul li a {
    color: #3f4754;
    font-weight: 500;
}
.primary-menu2 ul li a:hover{
    color: #f37a0f;
    
}
.primary-menu2 ul li a:hover .fa.fa-user{
    color: #f37a0f;
}
.fa.fa-user {
    font-size: 20px;
}
.primary-menu2 ul li ul li{
    position: absolute;
    top: 50px;
    left: 0px;
    visibility: hidden;

}
.primary-menu2 ul li:hover ul li{
    visibility: visible;
}
.primary-menu2 ul li ul li{
    border: 1px solid #ddd;
    width: 160px;
    height: 50px;
    color: #3f4754;
    margin-left: 0px;
    display: inline-block;
    background-color: #fff;
    text-align: left;
    border-radius: 6px;
}
.primary-menu2 ul li ul li a {
    color: #3f4754;
    font-weight: 500;
    color: #3f4754;
    font-weight: 500;
    margin-left: 20px;
    margin-top: -4px;
    display: block;
}

.middle{
    width: 25%;
    text-align: right;
    margin-top: 18px;
}
.middle span{
    display: block;
    position: absolute;
    left: 256px;
}
.middle input{
    border-right: none;
    border-top: none;
    border-left: none;
    border-color: rgba(44, 42, 42, 0.2);
    width: 90px;
    font-size: 15px;
    transition: .4s;    
}
.middle input:focus{
    width: 200px;

}
.middle input:hover{
    border-color: rgba(243, 122, 15, .7);
}



/* banner */
.banner-img{
   
}
.banner{
    height: 300px;
    background: url(./xjHqE42mcVB8yKtcAkaLEyByBlIcTuo2n4Z8RI6E.png) no-repeat center center;
    background-size: cover;
    margin-top: 84px;
}

.offer{
    padding: 44px;
    border: 1px solid rgba(221, 221, 221, .3);
    width: 1030px;
    height: 50px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, .7);
    position: relative;
    background: #fff;
    margin-left: 38px;
    margin-top: -40px;
}
.offer sup{
    position: absolute;
    top: 75px;
    left: 330px;
    color: #848fa1;
}
.offer sup:hover{
    color: #f67a0f;  
}

.offer span{
    color: #f67a0f;
}
.offer p{
    display: inline-block;
    margin-left: 190px;
    font-size: 15px;

}

.offer h3{
    display: inline-block;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    color: #33455A;
    margin-top: -4px;
    position: absolute;
    left: 55px;
    cursor: default;
    
    
    
}
button{
    margin-left: 207px;
    padding: 10px 80px;
    background: #ff8126;
    color: #fff;
    font-size: 14px;
    border: 1px solid #ff8126;
    font-weight: 501;
    border-radius: 6px;
    transition: .4s;
    transform-origin: center;
    transform: scaleX(left);
    cursor: pointer;   
}
button:hover{
    background-color: #fff;
    border: 1px solid #ff8126;
    color: #ff8126;
}
.footer p {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin-right: 25px;
    cursor: pointer;
}
.footer {
    margin: 41px 65px;
}
.footer .fa, .fas {
    color: #dddd;
    font-weight: 600;
    font-size: 1rem;
    margin-left: 4px;
    margin-top: -6px;
}

/* service */
.service ul {
    text-align: center;
    padding: 30px;
}
.service{
    position: relative;
}
.service ul li {
    display: inline-block;
    margin-right: 57px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.service ul li:hover{
    color: #ff8126;
}

.service span {
    position: absolute;
    left: 320px;
    top: 48px;
    font-size: 19px;
    font-weight: 3;
    color: red;
}

.filter-h5 h5{
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    color: #f7793a;

}
.fa.fa-outdent {
    color: #f7793a;
}
.filter {
    padding: 20px;
}
.filter-h5 {
    margin-top: 30px;
    margin-left: 85px;
}

/* service2 */
.service2{
    padding: 30px;
}
.services2 ul{
    display: inline-block;
    margin-left: 46px;
}
.services2 ul li{
    width: 1090px;
    height: 50px;
    border: 1px solid #ddd;
    display: block;
    margin-bottom: 25px;
    background-color: #f5f5f5;
    border-radius: 5px;
}
.services2 ul li a{
    font-size: 16px;
    font-weight: 700;
    color: #000;
    margin-top: 16px;
    display: inline-block;
    margin-left: 20px;
}
.first i.fa.fa-chevron-down {
    margin-left: 940px;
    font-size: 21px;
    color: #b2adad;
}
.second i.fa.fa-chevron-down {
    margin-left: 939px;
    font-size: 21px;
    color: #b2adad;
}
.third i.fa.fa-chevron-down {
    margin-left: 891px;
    font-size: 21px;
    color: #b2adad;
}
.fourth i.fa.fa-chevron-down {
    margin-left: 887px;
    font-size: 21px;
    color: #b2adad;
}
/* footer section */
.footer-section{
    background-color: #353535;
    padding: 50px 0;
}
.start{
    margin-top: -15px;
}
.start ul{
    display: inline-block;
    margin-right: 25px;
}
.start ul li{
    display: block;
}
.start ul li b{
    color: #fff;
    font-size: 18px;
    color: #fff;
    font-size: 18px;
    margin-bottom: 16px;
    display: inline-block;
    cursor: default;
}
.start ul li a{
    color: #fff;
    margin-bottom: 15px;
    display: block;
    font-size: 14px;
}
.start ul li a:hover{
    color: #f57a0f;
}
.start1 ul li a:hover{
    color: #f57a0f;
}
.start2 ul li a:hover{
    color: #f57a0f;
}
.start3 ul li a:hover{
    color: #f57a0f;
}
.start4 ul li a:hover{
    color: #f57a0f;
}
.start5 ul li a:hover{
    color: #f57a0f;
}


.start1{
    margin-top: -15px;
}
.start1 ul{
    margin-right: 25px;
}
.start1 ul li{
    display: block;
}
.start1 ul li b{
    color: #fff;
    font-size: 18px;
    color: #fff;
    font-size: 18px;
    margin-bottom: 16px;
    display: inline-block;
    cursor: default;
}
.start1 ul li a{
    color: #fff;
    margin-bottom: 15px;
    display: block;
    font-size: 14px;
}
.start2{
    margin-top: -15px;
}
.start2 ul{
    margin-right: 30px;
}
.start2 ul li{
    display: block;
}
.start2 ul li b{
    color: #fff;
    font-size: 18px;
    color: #fff;
    font-size: 18px;
    margin-bottom: 16px;
    display: inline-block;
    cursor: default;
}
.start2 ul li a{
    color: #fff;
    margin-bottom: 15px;
    display: block;
    font-size: 14px;
}
.start3{
    margin-top: -15px;
}
.start3 ul{
    margin-right: -10px;
}
.start3 ul li{
    display: block;
}
.start3 ul li b{
    color: #fff;
    font-size: 18px;
    color: #fff;
    font-size: 18px;
    margin-bottom: 16px;
    display: inline-block;
    cursor: default;
}
.start3 ul li a{
    color: #fff;
    margin-bottom: 15px;
    display: block;
    font-size: 14px;
}
.start4{}
.start4 ul{
    margin-left: 48px;
    margin-top: -15px;
    margin-right: -15px;
}
.start4 ul li{
    display: block;
}
.start4 ul li b{
    color: #fff;
    font-size: 18px;
    color: #fff;
    font-size: 18px;
    margin-bottom: 16px;
    display: inline-block;
    cursor: default;
}
.start4 ul li a{
    color: #fff;
    margin-bottom: 15px;
    display: block;
    font-size: 14px;
}
.start5{}
.start5 ul{
    margin-left: 48px;
    margin-top: -15px;
}
.start5 ul li{
    display: block;
}
.start5 ul li b{
    color: #fff;
    font-size: 18px;
    color: #fff;
    font-size: 18px;
    margin-bottom: 16px;
    display: inline-block;
    cursor: default;
}
.start5 ul li a{
    color: #fff;
    margin-bottom: 15px;
    display: block;
    font-size: 14px;
}
.start6{}
.download{}
.leftp{}
.leftp img{
    width: 156px;
    height: 70px;
    cursor: pointer;
    
}
.rightp{
    margin-top: 10px;
}
.rightp img{
    width: 156px;
    height: 50px;
    cursor: pointer;
}
.start6 b {
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    margin-top: -14px;
    display: block;
    margin-left: 17px;
}
.social{
    text-align: center;
}
.social .fa, .fas {
    color: #fff;
    font-weight: 600;
    font-size: 1.3rem;
    margin-left: 25px;
    margin-top: 50px;
    margin-bottom: 35px;
}
.social a{}

.fb {
    font-size: 14px;
}
.contract1{
    text-align: center;
}
.contract1 a{
    color: #fff;
}
.contract1 a:hover{
    color: #f57a0f;
}
.contract1 span{
    color: #fff;
}
.contract1 p{
    color: #fff;
    display: inline-block;
}
.fp{
    font-size: 14px;
}
.fp p{
    color: #fff;
    text-align: center;
}
.fp span{}


/* footer bottom */
.footer-bottom{
    padding: 40px;
    background-color: #353535;
    border-top: 1px solid rgba(175, 171, 171, .3);
}
.footer-left{}
.footer-left h6{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}
.footer-right{}
.footer-right ul{}
.footer-right ul li{
    display: inline-block;
}
.footer-right ul li a{
    display: block;
    color: #fff;
    margin-left: 15px;
    font-size: 15px;
}
.footer-right ul li a:hover{
    color: #f57a0f;
}
